In [2]:
import pickle
import pandas as pd
import streamlit as st
import warnings; warnings.simplefilter('ignore')

In [3]:
pickle_in_model = open("voting_clf.pkl", "rb")
classifier = pickle.load(pickle_in_model)

pickle_in_pipeline = open("full_pipeline.pkl", "rb")
full_pipeline = pickle.load(pickle_in_pipeline)

df = pd.read_excel("data_for_prediction.xlsx")
df["Pers No"] = df["Pers No"].astype(str)

In [4]:
data_to_show = pd.DataFrame(data=None, columns=['Pers No', 'Employee Name', 
                                      'Position', 'Directorate', 'Department',
                                      'Unit', 'Prediction'])

In [5]:
data_to_show

Empty DataFrame
Columns: [Pers No, Employee Name, Position, Directorate, Department, Unit, Prediction]
Index: []

In [18]:
emp_id = "90005956"
to_predict = df[df["Pers No"]==emp_id].iloc[:,6:]

In [19]:
to_predict_prep = full_pipeline.transform(to_predict)
pred = classifier.predict(to_predict_prep)

In [20]:
pred[0]

'Welldone'

In [21]:
emp_info_results = df[df["Pers No"]==emp_id].iloc[:,:5]
emp_info_results["Previous PA"] = df[df["Pers No"]==emp_id].iloc[:,11]
emp_info_results["Prediction"] = pred[0]
tr = emp_info_results.T.reset_index()
tr.columns = ["Info", "Details"]
# tr = tr.style.hide_index()

In [22]:
emp_info_results

,Pers No,Employee Name,Position,Directorate,Department,Previous PA,Prediction
2,90005956,Jhon Hendri,Specialist - EMC CLM Planning,Consumer Marketing,NaN,Welldone,Welldone

In [23]:
df[df["Pers No"]==emp_id].iloc[:,11]

2    Welldone
Name: Prev_PA, dtype: object

In [24]:
df.columns

Index(['Pers No', 'Employee Name', 'Position', 'Directorate', 'Department',
       'Unit', 'Service_Year', 'Age', 'N_Training', 'H_Training',
       'Training/Hour', 'Prev_PA', 'HRL_Times_Promoted', 'Rotation/Tenure',
       'Is_Talent', 'E-CDT', 'E-Coll', 'E-Empower', 'E-PManagement',
       'E-SLeadership', 'E-MAD', 'Salary_Increase', 'Compa_Ratio'],
      dtype='object')

In [25]:
tr

            Info                        Details
0        Pers No                       90005956
1  Employee Name                    Jhon Hendri
2       Position  Specialist - EMC CLM Planning
3    Directorate             Consumer Marketing
4     Department                            NaN
5    Previous PA                       Welldone
6     Prediction                       Welldone

In [10]:
print(tr.to_string(index=False, header=False))

       Pers No                       90005956
 Employee Name                    Jhon Hendri
      Position  Specialist - EMC CLM Planning
   Directorate             Consumer Marketing
    Department                            NaN
    Prediction                       Welldone

In [205]:
# emp_info_results.to_dict(orient='records')[0]

In [206]:
tr

            Info                        Details
0        Pers No                       90005956
1  Employee Name                    Jhon Hendri
2       Position  Specialist - EMC CLM Planning
3    Directorate             Consumer Marketing
4     Department                            NaN
5           Unit                            NaN
6     Prediction                       Welldone

In [194]:
tr

           index                              2
0        Pers No                       90005956
1  Employee Name                    Jhon Hendri
2       Position  Specialist - EMC CLM Planning
3    Directorate             Consumer Marketing
4     Department                            NaN
5           Unit                            NaN
6     Prediction                       Welldone

In [181]:
emp_info_results

,Pers No,Employee Name,Position,Directorate,Department,Unit,Prediction
2,90005956,Jhon Hendri,Specialist - EMC CLM Planning,Consumer Marketing,NaN,NaN,Welldone

In [182]:
emp_info_results.columns

Index(['Pers No', 'Employee Name', 'Position', 'Directorate', 'Department',
       'Unit', 'Prediction'],
      dtype='object')

In [183]:
data_to_show = pd.concat([data_to_show, emp_info_results], ignore_index=True)
data_to_show

,Pers No,Employee Name,Position,Directorate,Department,Unit,Prediction
0,90004081,Hasanudin Farid,Specialist - Technology Planning,"Technology, Content and New Business",NaN,NaN,Outstanding
1,90004081,Hasanudin Farid,Specialist - Technology Planning,"Technology, Content and New Business",NaN,NaN,Outstanding
2,90005956,Jhon Hendri,Specialist - EMC CLM Planning,Consumer Marketing,NaN,NaN,Welldone

In [105]:
df["Pers No"]

0     90007035
1     90004081
2     90005956
3     90006893
4     90007026
5     90004875
6     90005378
7     90006877
8     90007252
9     90006561
10    90006169
11    90006391
12    90007532
13    90007174
14    90006720
15    90000523
16    90004856
17    90005778
18    90004986
19    90005552
20    90005688
21    90006578
22    90003796
23    90005549
24    90007537
25    90003366
Name: Pers No, dtype: object